body{
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	background: #e9e9e9;
	border: none;
	font-weight: none;
	overflow-x: hidden;
}

h1, h1 a, h1 a:hover{
	clear: both;
	font-size: 18px;
	font-family: Georgia, "Palatino Linotype", serif;
	color: #51a3b3;
	padding-top: 20px;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px solid #d53e5a;
	text-decoration: none;
}

h2 {
	clear: none;
	width: auto;
	font-size: 16px;
	font-family: Georgia, "Palatino Linotype", serif;
	color: #e6a1bc;
	text-indent: 20px;
	text-transform: none;
	border-left: 20px groove #3eb3d5;
}

h3 {
	font-weight: none;
	font-size: 14px;
	color: #e6a1bc;
	letter-spacing: 1px;
	text-indent: 15px;
	padding-top: 5px;
	text-transform: none;
	border-left: 20px groove #3eb3d5;
}
	
.center {
	text-align:center;
}
#upevents h3 {
	padding-top: 0px;
 
}

#exec li {
	list-style-type:none;
	}

#nav {
	position: absolute;
	margin: -10px 0px 0px 50px;
	padding-left: 250px;
	width: 100%;
}

#nav li, #nav li a{
	float: left;
	margin: 0px 7px 0px 7px;
	padding: 3px;
	list-style: none;
	display: block;
	background: #828282;
	color:#ffffff;
	text-decoration:none;
	font-weight:none;
	font-size:14px;
	text-shadow:0px 0px 1px #fff;
	opacity:0.9;
}

#nav li.current, #nav li.current a{
	background: #26303a;
	opacity: 1;
}
#nav li:hover, #nav a:hover{
	
	margin: 0px 7px 0px 7px;
	padding: 3px;
	background: #26303a;
	opacity:1;
}


#title {
position: absolute;
margin: -20px 0% 0% 35%;
height: 170px;
background: none;
opacity: 1;
z-index: 4;
}

#container {
position: absolute;
z-index: 6;
width: 860px;
margin: 120px 0% 0% 30%;
text-align: left;
-moz-border-radius: 15px;
border-radius: 15px;
background-color: #26303a;
-moz-box-shadow: 5px 5px 5px #ccc;
-webkit-box-shadow: 5px 5px 5px #ccc;
box-shadow: 5px 5px 5px #ccc;
}


#nav {
float: right;
background: none;
margin-left: 5px;
margin-top:-20px;
opacity: 1;
}


#content {
padding: 20px;
font-weight: none;
}

img.bgimage{
float: right;
position: fixed;
height:100%;
z-index: 1;
opacity: 0.5;
}

#upevents {
	float: right;
	text-align: left;
	width: 30%;
}

#post {
clear: both;
text-align: left;
}


/* Rotating banner css */
#gallery {
	position:relative;
	height: 360px;
	width: ;
	float: left;
	-moz-border-radius: 10px;
border-radius: 5px;
}
	#gallery a {
		float:left;
		position:absolute;
	}
	
	#gallery a img {
		border:none;
	}
	
	#gallery a.show {
		z-index:500
	}

	#gallery .caption {
		z-index:600; 
		background-color:#000; 
		color:#ffffff; 
		height:50px; 
		width:100%; 
		position:absolute;
		bottom:0;
	}

	#gallery .caption .content {
		margin:5px
	}
	
	#gallery .caption .content h3 {
		margin:0;
		padding:0;
		color:#1DCCEF;
	}

.clear{
	clear: both;
}


/* Container */
.verticalslider {border: none; overflow: hidden; width: 850px; margin: 0 auto; margin-top: 25px; height: 100%; }

/* Tabs */
.verticalslider_tabs {float: left;width: 200px;}
.verticalslider_tabs, .verticalslider_tabs li{margin: 2px; padding: 0px;}
.verticalslider_tabs li{list-style-type: none;}
.verticalslider_tabs a:link, .verticalslider_tabs a:visited{display: block; width: 200px; padding: 5px; background: #8a8c8c;  font-size: 12px; font-weight: bold;color: #ffffff;  text-decoration: none;}
.verticalslider_tabs a:hover, .verticalslider_tabs a:active{  background-color: #843138;}
.verticalslider_tabs li:first-child a:link, .verticalslider_tabs li:first-child a:visited{border-top: none;}
.verticalslider_tabs .activeTab a:link, .verticalslider_tabs .activeTab a:visited{background: #843138;}
.verticalslider_tabs .activeTab a:hover, .verticalslider_tabs .activeTab a:active{background: #843138;}

/* Contents */
.verticalslider_contents{float: left;width: 600px;display: inline; margin: 0px; padding: 0px;}
.verticalslider_contents li{margin: 0px; padding: 0px;width: 600px;overflow: visible; padding: 0px;display: none;position: absolute;list-style-type: none; }
.verticalslider_contents li h2{margin: 5px 20px; padding: 0px;}
.verticalslider_contents li p{ margin: 5px 20px; padding: 0px;}
.verticalslider_contents .activeContent{display: inline;}


.verticalslider_contents #group {
	width: 500px;
	height: 400px;
	margin-top: 10px;
	}



.verticalslider_contents .portrait {
				width: 250px;
				height:300px;

}

a {
	color: #f9a66e;
	text-decoration: underline;
}

a:hover {
	color: #8ab0d1;
	text-decoration: line-through;
}

b, i, u { color: #bbbcbc;}